*{
	margin:0;
	padding:0;
}
body{
	background:#333;
}
.box{
	width:1000px;
	height:280px;
	margin:50px auto;
	
}
.box .link{
	width:205px;
	height:280px;
	margin:0 20px;
	float:left;
}
.link .icon{
	display:inline-block;
	width:100%;
	height:190px;	
	transition:0.2s linear 1s;
	-webkit-transition:0.2s linear 1s;
}
.link-miss .icon{

	background: url("./image/miss.jpeg") no-repeat center center;
}

.link-play .icon{

        background: url("./image/play.jpeg") no-repeat center center;
}

.link-touch .icon{

        background: url("./image/baby.jpeg") no-repeat center center;
}
.link .icon:hover{
	transform:rotate(360deg) scale(1.2);
	-ms-transform:rotate(360deg) scale(1.2);
	-webkit-transform:rotate(360deg) scale(1.2);
	-o-transform:rotate(360deg) scale(1.2);
	-moz-transform:rotate(360deg) scale(1.2);
}

.button{
	display:block;
	width:180px;
	height:50px;
	text-decoration:none;
	line-height:50px;
	color:#2DCB70;
	font-family:"微软雅黑",Arial,Helvetica,sans-serif;	
	font-weight:bold;
	border:2px solid rgba(255,255,255,0.8);
	padding-left:20px;
	margin:0 auto;
	box-sizing:border-box;
	background:url("./image/baby.jpeg") no-repeat 130px center;
	position:relative;
	 transition:0.4s ease 1s;
        -webkit-transition:0.4s ease 1s;
}

.button:hover{
	border:2px solid rgba(255,255,255,1);
	background-position:140px center;
}
.button .line{
	display:block;
	position:absolute;
	background:none;
	transition:0.4s ease 1s;
        -webkit-transition:0.4s ease 1s;

	
}
.button:hover .line{
	background:#fff;
}

.button .line-top{
	height:2px;
	width:0px;
	left:-110%;
	top:-2px;
}
.button:hover .line-top{
	width:100%;
	left:-2px;
}


